  @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
  /* font-family: 'Merriweather', serif;  heading*/
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  /* font-family: 'Montserrat', sans-serif; text */
  /* color 1: #009688 */
  /* color 2:#FFC107 */
  /* color 3:#ffffff */
  :root {
      line-height: 1.6;
  }

  .img-in-box {
      height: inherit;
      width: inherit;
      object-fit: cover;
  }
  nav li{
    text-decoration: none;
    list-style: none;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color:#009688 ;
    padding-bottom: 1em;
    font-size: .75rem;
  }
  nav ul{
    padding:1em;
  }
  nav li:hover{
    color: #FFC107;
  }
  .masthead{
    height: 20em;
    background-image: url(/img/blue-yellow-and-green-1244449.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .masthead p{
    position: absolute;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    bottom: 0;
    color: white;
  }
  
  footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
  }

  footer a {
      font-size: 2em;
      padding: .5em;
  }
  @media (min-width: 30rem) {
    nav li{
       display: inline;
       padding-left: 5em;
       font-size: 1rem;
      }
      .masthead{
        height: 20em;
        position: relative;
      }
      .masthead p{
        position: absolute;
        font-family: 'Merriweather', serif;
        font-size: 1em;
        font-weight: 700;
        text-align: center;
        bottom: 0;
        color: white;
      }
  }